{% extends "base.html" %} {% block content %}

<div class="container mt-3 mx-auto">
    <div class="row g-2 my-5">
        <div class="col-md-6">
            <h1>Welcome to Pentagame</h1>
            <p>
                Pentagame is an abstract strategy game without chance element.
                It is played on a pentagram star that shows 100 round stops. The
                5 corners and the 5 crossings in the pentagram are colored
                (white, blue, red, green, yellow). It can be played with 2, 3 or
                4 players. It looks a bit like a pentagonal ludo, but it is
                truly different. For example, there is no chance and pieces
                don't get beaten. Instead, it is all about moving, swapping,
                about paths and about areas. Every player plays 5 pieces of one
                shape, e.g. cats against dogs or whatever …
            </p>
            <div class="text-center">
                <div class="btn-group justify-pages-center btn-group-lg">
                    <a
                        href="{{ get_url(path='@/pages/rules.md')|safe }}"
                        class="btn btn-lg btn-dark"
                    >
                        <i class="bi bi-eyeglasses"></i>
                        Read more <span class="visually-hidden"> about rules</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-6 d-none d-md-block">
            <img src="/images/brand.svg" class="w-100 h-100" />
        </div>
    </div>

    <div class="row justify-pages-between text-center text-white">
        <div class="col-md-5 flex-fill p-3 m-1 bg-gray shadow rounded">
            <h2><i class="bi bi-journal-richtext"></i> Rules</h2>

            <p>
                The rules of Pentagame are open and available in multiple languages on GitHub. There's also an illustrated version available.
            </p>

            <div class="btn-group">
                <a
                    class="btn btn-outline-light"
                    href="https://github.com/penta-jan/Illustrated-Rules"
                >
                    <i class="bi bi-images"></i>
                    Illustrated Rules
                </a>
                <a
                    class="btn btn-outline-light"
                    href="{{ get_url(path='@/pages/rules.md')|safe }}"
                >
                    <i class="bi bi-journal-text"></i>
                    Rules <span class="visually-hidden"> and more</span>
                </a>
            </div>
        </div>

        <div class="col-md-5 flex-fill m-1 p-3 bg-green shadow rounded">
            <h2><i class="bi bi-journal-album"></i> Book</h2>

            <p>
                A book by Jan Suchanek about the math and lore behind Pentagame. It will contain his results from extended research on tactics, usage of pentagrams throughout history and the theory behind Pentagame.
            </p>

            <a
                href="https://github.com/penta-jan/pentagame/blob/master/Pentagame__The_Book.pdf"
                class="btn btn-outline-light"
            >
                <i class="bi bi-vector-pen"></i>
                Read the excerpt
            </a>
        </div>
    </div>
    <div class="row justify-pages-between text-white text-center">
        <div class="col-md-5 flex-fill m-1 p-3 bg-dark shadow rounded">
            <h2><i class="bi bi-code"></i> Development</h2>

            <p>
                The community around pentagame is active and provides software
                libraries for you. You can create your own virtual pentagame or
                do research with it using these libraries.
            </p>

            <a
                href="https://github.com/Penta-game/"
                class="btn btn-outline-light"
            >
                <i class="bi bi-github"></i>
                Visit our Organization
            </a>
        </div>
        <div class="col-md-5 flex-fill p-3 m-1 shadow rounded bg-purple">
            <h2><i class="bi bi-diagram-3"></i> Tournaments</h2>

            <p>
                You can participate in tournaments in Berlin. At events
                like the CCC you might be able to participate at tournaments too, where you can sometimes win your
                own pentagame related prize. The latest winner was also
                interviewed!
            </p>

            <a
                href="https://youtu.be/pSqBq2sewgY"
                class="btn btn-outline-light"
            >
                <i class="bi bi-youtube"></i>
                Watch on YouTube
            </a>
        </div>
    </div>
</div>
{% endblock %}
